.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2, h3 { margin-block-start: 2em !important; }
h4, h5 { margin-block-start: 1.5em !important; }

h1:has(+h2),h1:has(+h3),h1:has(+h4),h1:has(+h5) { margin-block-end: 0 !important; }
h1+h2, h1+h3, h1+h4, h1+h5 { margin-block-start: 0 !important; opacity: 0.5; }
h2:has(+h3),h2:has(+h4),h2:has(+h5) { margin-block-end: 0 !important; }
h2+h3,h2+h4,h2+h5 { margin-block-start: 0 !important; opacity: 0.5; }

a[href*="//"]:not([href*="nimphio.us/wave2"]){
    color: var(--links);
    position: relative;
    margin-right: 10px;
}

a[href*="//"]:not([href*="nimphio.us/wave2"])::after{
    content: " ";
    background: var(--links);
    mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg width='800px' height='800px' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Interface / External_Link'%3E%3Cpath id='Vector' d='M10.0002 5H8.2002C7.08009 5 6.51962 5 6.0918 5.21799C5.71547 5.40973 5.40973 5.71547 5.21799 6.0918C5 6.51962 5 7.08009 5 8.2002V15.8002C5 16.9203 5 17.4801 5.21799 17.9079C5.40973 18.2842 5.71547 18.5905 6.0918 18.7822C6.5192 19 7.07899 19 8.19691 19H15.8031C16.921 19 17.48 19 17.9074 18.7822C18.2837 18.5905 18.5905 18.2839 18.7822 17.9076C19 17.4802 19 16.921 19 15.8031V14M20 9V4M20 4H15M20 4L13 11' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3C/svg%3E");
    mask-size: 13px 13px;
    width: 13px;
    height: 13px;
    display: block;
    position: absolute;
    left: 100%;
    top: -2px;
}

#instruction_matrix {
    font-family: monospace;
    position: relative;
    width: 120%;
    left: -10%;
}

#instruction_matrix tr,
#instruction_matrix tr td {
    margin: 0;
    padding: 2px;
    width: 48px;
    height: 48px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    overflow: hidden;
    /* text-wrap-style: pretty; */
    word-break: break-all;
    overflow-wrap: break-word;
}
